<h3>Pagina creada por <%= author %></h3>
<img src="/images/foto_preview.gif"><br/>
<iframe width="560" height="315" src="https://www.youtube.com/embed/KYLTUu8GG0I" frameborder="0" allowfullscreen></iframe>
