<!--extends layout

block content
  h1= title
  p Bienvenido a #{title}
  a(href='quizes/question') Comience a Jugar-->

<h3>Bienvenidos a <%= title %></h3>
<h4>El portal donde poder crear sus propios juegos</h4>
