<!-- extends layout

block content
  h1= title
  h2 Quiz: el juego de las preguntas
  div
	h3 #{respuesta}
	a(href='/question.jade') Intentalo de nuevo -->

<p><%= respuesta %> </p>
<a href="/quizes/question">Intentelo de nuevo otra vez</a>
