<table>
<% var i;for(i=0;i < quizes.lenght; i++){ %>
			
<<<<<<< HEAD
		<tr><td><a href="quizes/<%= quizes[i].id; %>"><%= quizes[i].pregunta; %></a></td></tr>
<%}%>
</table> 
=======
		<tr><td><a href='quizes/<% quizes[i].id; %>'><% quizes[i].pregunta; %></a></td></tr>
<%}%>
</table>
>>>>>>> iss1
